<h2 mat-dialog-title>Reset your password</h2>
<mat-dialog-content>
  <form id="reset-password-form" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <mat-form-field hideRequiredMarker>
      <input size="1" matInput aria-label="Email" type="email" placeholder="Email" formControlName="email">
      <mat-icon matSuffix>email</mat-icon>
      <mat-error *ngIf="emailForm.errors">Please enter email address you have used when registering</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="back.emit()">Back</button>
  <button #continueButton mat-flat-button color="primary" type="submit" form="reset-password-form">Continue</button>
</mat-dialog-actions>
