:host {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-icon {
  color: white;
}

#back-button {
  margin: 10px;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
}

mat-spinner {
  position: fixed;
}

img {
  image-orientation: from-image;
}

#shadow {
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  background-image: linear-gradient(0deg,rgba(0,0,0,0),rgba(0,0,0,0.4))
}
