img {
  user-select: none;
  image-orientation: from-image;
  object-fit: cover;
  font-size: 0;
  height: 100%;
  width: 100%;
}

mat-spinner {
  margin-top: 20px;
  position: absolute;
}

#spinner-wrapper {
  display: flex;
  flex: 1;
  left: 0;
  justify-content: center;
}

#image-box {
  cursor: pointer;
}

#image-shadow {
  height: inherit;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.26), transparent 56px, transparent);
  opacity: 0;
}

#image-shadow.touchScreen {
  visibility: hidden;
}
