:host {
  display: flex;
  align-content: center;
  margin-right: -3px;
}

#content {
  flex-wrap: wrap;
  display: flex;
  align-content: center;
}

img {
  width: 100%;
  user-select: none;
  image-orientation: from-image;
  object-fit: cover;
  font-size: 0;
}

mat-spinner {
  position: absolute;
}

#spinner-wrapper {
  display: flex;
  flex: 1;
  left: 0;
  justify-content: center;
}

#image-box {
  flex: 1;
  min-width: 100px;
  max-width: 400px;
  height: 100px;
  overflow: hidden;
  margin-right: 3px;
  margin-bottom: 3px;
  align-items: center;
  display: flex;
  cursor: pointer;
}

#image-shadow {
  height: inherit;
  position: absolute;
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.26),transparent 56px,transparent);
  opacity: 0;
}

@media (hover: none) and (pointer: coarse) {
  #image-shadow {
    visibility: hidden;
  }
}
