:host {
  display: flex;
  align-content: center;
  margin-right: -3px;
}

#content {
  flex-wrap: wrap;
  display: flex;
}

img {
  min-width: 100px;
  max-width: 200px;
  height: 100px;
  flex: 1;
  user-select: none;
  image-orientation: from-image;
  object-fit: cover;
  font-size: 0;
  margin-right: 3px;
  margin-bottom: 3px;
}

mat-spinner {
  position: absolute;
}

#spinner-wrapper {
  display: flex;
  flex: 1;
  left: 0;
  justify-content: center;
}
