:host {
  display: flex;
  justify-content: center;
  flex: 1;
}

#profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

#profile-card {
  display: flex;
  width: 100%;
  justify-content: center;
}

#profile mat-card {
  max-width: 500px;
  display: flex;
  margin: 0 20px;
  flex: 1;
}

#profile mat-card div {
  flex-direction: column;
  align-items: center;
  display: flex;
  flex: 1;
}

#name {
  font-weight: bold;
  margin-top: 50px;
  font-size: 50px;
  word-break: break-word;
  text-align: center;
  width: 100%;
  line-height: 60px;
}

@media all and (min-width: 700px) {
  #no-such-profile {
    font-size: 70px;
  }
}

@media all and (max-width: 699px) {
  #no-such-profile {
    font-size: 20px;
  }
}

#no-such-profile {
  font-weight: bold;
  align-self: center;
}

mat-spinner {
  align-self: center;
}

#picture {
  image-orientation: from-image;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  user-select: none;
  font-size: 0;
  margin-top: 30px;
}

app-browser {
  height: 100%;
  margin-top: 50px;
}

#more {
  position: absolute;
  top: 5px;
  right: 5px;
}

#title {
  width: 100%;
}

#delete {
  color: red;
}

app-browser {
  width: 100%;
  margin-top: 20px;
  display: block;
}
