:host {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-icon {
  color: white;
}

#back-button {
  margin: 10px;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
}

#delete {
  margin: 10px;
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
}

mat-spinner {
  position: fixed;
}

img#picture {
  image-orientation: from-image;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#shadow-up {
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  background-image: linear-gradient(0deg,rgba(0,0,0,0),rgba(0,0,0,0.4))
}

#shadow-down {
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 160px;
  bottom: 0;
  background-image: linear-gradient(180deg,rgba(0,0,0, 0),rgba(0,0,0,1))
}

@media all and (min-width: 700px) {
  #title {
    font-size: 50px;
    -webkit-text-stroke: 2px #000;
  }

  #info {
    left: 40px;
    bottom: 125px;
  }

  #profile {
    margin-left: 10px;
    margin-top: 20px;
  }

  #picture-wrapper {
    height: 50px;
    width: 50px;
  }

  #profile-name {
    font-size: 20px;
  }
}

@media all and (max-width: 699px) {
  #title {
    font-size: 35px;
    -webkit-text-stroke: 1px #000;
    font-weight: bold;
  }

  #info {
    left: 10px;
    bottom: 100px;
  }

  #profile {
    margin-left: 10px;
  }

  #picture-wrapper {
    height: 30px;
    width: 30px;
  }

  #profile-name {
    font-size: 15px;
  }
}

#info {
  position: fixed;
  z-index: 10000;
  color: white;
  line-height: 50px;
  user-select: none;
}

#profile {
  position: fixed;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#profile-picture {
  font-size: 0;
  image-orientation: from-image;
}

#picture-wrapper {
  border-radius: 100%;
  overflow: hidden;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-name {
  margin-left: 10px;
}
